<h4>Add a new category</h4>

<%= form_with url: groups_path, method: :post, local: true, scope: :add_category do |form| %>
    <div>
      <%= form.label :category_name %><br>
      <%= form.text_field :category_name, size: "80x6" %>
    </div>

    <%= form.submit 'Add category' %>
<% end %>